*.a
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
libtool
m4
stamp-h1
ABOUT-NLS
m4
.deps
.libs
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
gnu
