config
client.conf
users
acct.bin
acct.scm
checkrad.conf
dictionary
dict.ascend
dict.cisco
dict.compat
dict.livingston
dict.merit
dict.tunnel
dict.usr
dict.voip
nastypes
rewrite
realms
log
acct
radiusd.pid
hints
ports
